h3{
    text-align:center;
}
.main{
margin: 20px;
padding-top: 8px;
padding-left:10px;
padding-right:10px;
padding-bottom:8px;
margin-left: 360px;
margin-right: 10px;
background-color:#EAF0E2;
}

hr{
    height: 2px;
}