.container{
    margin: 20px;
    background-color:#EAF0E2;
    padding: 30px;
    padding-left: 10px;
}

#head{
    border-bottom: 10px solid rgb(53, 253, 53);
    font-weight: bolder;
    text-align: center;
}

.card{
    margin-top: 50px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}